In [1]:
!cat examples.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('examples.csv')

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_table('examples.csv',sep=',')

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [2]:
names=['a','b','c','d','message']

In [3]:
pd.read_csv('examples.csv',names=names,index_col='message')

         a   b   c   d
message
message  a   b   c   d
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [4]:
pd.options.display.max_rows=10

In [5]:
res=pd.read_csv('examples2.csv')
res

    a   b   c   d  message
0   1   2   3   4    hello
1   5   6   7   8    world
2   9  10  11  12      foo
3   a   b   c   d  message
4   1   2   3   4    hello
.. ..  ..  ..  ..      ...
62  9  10  11  12      foo
63  a   b   c   d  message
64  1   2   3   4    hello
65  5   6   7   8    world
66  9  10  11  12      foo

[67 rows x 5 columns]

In [6]:
pd.read_csv('examples2.csv',nrows=5)

   a   b   c   d  message
0  1   2   3   4    hello
1  5   6   7   8    world
2  9  10  11  12      foo
3  a   b   c   d  message
4  1   2   3   4    hello

In [7]:
import sys

In [8]:
res.to_csv(sys.stdout,sep="|")

|a|b|c|d|message
0|1|2|3|4|hello
1|5|6|7|8|world
2|9|10|11|12|foo
3|a|b|c|d|message
4|1|2|3|4|hello
5|5|6|7|8|world
6|9|10|11|12|foo
7|a|b|c|d|message
8|1|2|3|4|hello
9|5|6|7|8|world
10|9|10|11|12|foo
11|a|b|c|d|message
12|1|2|3|4|hello
13|5|6|7|8|world
14|9|10|11|12|foo
15|a|b|c|d|message
16|1|2|3|4|hello
17|5|6|7|8|world
18|9|10|11|12|foo
19|a|b|c|d|message
20|1|2|3|4|hello
21|5|6|7|8|world
22|9|10|11|12|foo
23|a|b|c|d|message
24|1|2|3|4|hello
25|5|6|7|8|world
26|9|10|11|12|foo
27|a|b|c|d|message
28|1|2|3|4|hello
29|5|6|7|8|world
30|9|10|11|12|foo
31|a|b|c|d|message
32|1|2|3|4|hello
33|5|6|7|8|world
34|9|10|11|12|foo
35|a|b|c|d|message
36|1|2|3|4|hello
37|5|6|7|8|world
38|9|10|11|12|foo
39|a|b|c|d|message
40|1|2|3|4|hello
41|5|6|7|8|world
42|9|10|11|12|foo
43|a|b|c|d|message
44|1|2|3|4|hello
45|5|6|7|8|world
46|9|10|11|12|foo
47|a|b|c|d|message
48|1|2|3|4|hello
49|5|6|7|8|world
50|9|10|11|12|foo
51|a|b|c|d|message
52|1|2|3|4|hello
53|5|6|7|8|world
54|9|10|11|12|foo
55|a|b|c|d|message
56|1|2|3|4|hello
57|5|6|7|8|world
58|9|10|11|12|foo
59|a|b|c|d|message
60|1|2|3|4|hello
61|5|6|7|8|world
62|9|10|11|12|foo
63|a|b|c|d|message
64|1|2|3|4|hello
65|5|6|7|8|world
66|9|10|11|12|foo

In [10]:
dates=pd.date_range('1/1/2000',periods=7)
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [12]:
import numpy as np
ts=pd.Series(np.arange(7),index=dates)

In [13]:
ts.to_csv('examples3.csv')

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [14]:
!cat examples3.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [15]:
import csv

In [16]:
f=open('examples2.csv')

In [17]:
reader=csv.reader(f)

In [18]:
for line in reader:
    print(line)

['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']
['a', 'b', 'c', 'd', 'message']
['1', '2', '3', '4', 'hello']
['5', '6', '7', '8', 'world']
['9', '10', '11', '12', 'foo']

In [32]:
with open('examples.csv') as f:
    lines=list(csv.reader(f))

In [33]:
header,values=lines[0],lines[1:]

In [34]:
header

['a', 'b', 'c', 'd', 'message']

In [35]:
values

[['1', '2', '3', '4', 'hello'],
 ['5', '6', '7', '8', 'world'],
 ['9', '10', '11', '12', 'foo']]

In [36]:
data_dict={h:v for h,v in zip(header,zip(*values))}

In [37]:
data_dict

{'a': ('1', '5', '9'),
 'b': ('2', '6', '10'),
 'c': ('3', '7', '11'),
 'd': ('4', '8', '12'),
 'message': ('hello', 'world', 'foo')}

In [38]:
import requests

In [39]:
res=requests.get('http://www.7timer.info/bin/astro.php??lon=114.35&lat=30.5&ac=0&lang=zh-CN&unit=metric&tzshift=0&output=json')

In [52]:
res.json()

{'product': 'astro',
 'init': '2019062918',
 'dataseries': [{'timepoint': 3,
   'cloudcover': 5,
   'seeing': 4,
   'transparency': 1,
   'lifted_index': 2,
   'rh2m': -3,
   'wind10m': {'direction': 'E', 'speed': 3},
   'temp2m': 37,
   'prec_type': 'none'},
  {'timepoint': 6,
   'cloudcover': 6,
   'seeing': 3,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': -1,
   'wind10m': {'direction': 'SE', 'speed': 3},
   'temp2m': 32,
   'prec_type': 'none'},
  {'timepoint': 9,
   'cloudcover': 1,
   'seeing': 3,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': 0,
   'wind10m': {'direction': 'SE', 'speed': 3},
   'temp2m': 29,
   'prec_type': 'none'},
  {'timepoint': 12,
   'cloudcover': 2,
   'seeing': 3,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': 0,
   'wind10m': {'direction': 'E', 'speed': 2},
   'temp2m': 28,
   'prec_type': 'none'},
  {'timepoint': 15,
   'cloudcover': 1,
   'seeing': 1,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': -2,
   'wind10m': {'direction': 'S', 'speed': 3},
   'temp2m': 36,
   'prec_type': 'none'},
  {'timepoint': 18,
   'cloudcover': 1,
   'seeing': 1,
   'transparency': 2,
   'lifted_index': -1,
   'rh2m': -3,
   'wind10m': {'direction': 'SW', 'speed': 3},
   'temp2m': 41,
   'prec_type': 'none'},
  {'timepoint': 21,
   'cloudcover': 1,
   'seeing': 1,
   'transparency': 1,
   'lifted_index': 2,
   'rh2m': -3,
   'wind10m': {'direction': 'W', 'speed': 3},
   'temp2m': 43,
   'prec_type': 'none'},
  {'timepoint': 24,
   'cloudcover': 1,
   'seeing': 2,
   'transparency': 1,
   'lifted_index': 2,
   'rh2m': -3,
   'wind10m': {'direction': 'W', 'speed': 3},
   'temp2m': 41,
   'prec_type': 'none'},
  {'timepoint': 27,
   'cloudcover': 2,
   'seeing': 4,
   'transparency': 1,
   'lifted_index': 2,
   'rh2m': -3,
   'wind10m': {'direction': 'W', 'speed': 3},
   'temp2m': 35,
   'prec_type': 'none'},
  {'timepoint': 30,
   'cloudcover': 4,
   'seeing': 3,
   'transparency': 1,
   'lifted_index': 2,
   'rh2m': -2,
   'wind10m': {'direction': 'NW', 'speed': 4},
   'temp2m': 34,
   'prec_type': 'none'},
  {'timepoint': 33,
   'cloudcover': 5,
   'seeing': 3,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': -1,
   'wind10m': {'direction': 'N', 'speed': 3},
   'temp2m': 30,
   'prec_type': 'none'},
  {'timepoint': 36,
   'cloudcover': 3,
   'seeing': 3,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': -1,
   'wind10m': {'direction': 'NE', 'speed': 3},
   'temp2m': 29,
   'prec_type': 'none'},
  {'timepoint': 39,
   'cloudcover': 2,
   'seeing': 1,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': -2,
   'wind10m': {'direction': 'NE', 'speed': 3},
   'temp2m': 36,
   'prec_type': 'none'},
  {'timepoint': 42,
   'cloudcover': 1,
   'seeing': 1,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': -3,
   'wind10m': {'direction': 'NE', 'speed': 3},
   'temp2m': 42,
   'prec_type': 'none'},
  {'timepoint': 45,
   'cloudcover': 1,
   'seeing': 1,
   'transparency': 2,
   'lifted_index': -1,
   'rh2m': -3,
   'wind10m': {'direction': 'NE', 'speed': 3},
   'temp2m': 43,
   'prec_type': 'none'},
  {'timepoint': 48,
   'cloudcover': 3,
   'seeing': 2,
   'transparency': 2,
   'lifted_index': -1,
   'rh2m': -3,
   'wind10m': {'direction': 'E', 'speed': 3},
   'temp2m': 40,
   'prec_type': 'none'},
  {'timepoint': 51,
   'cloudcover': 4,
   'seeing': 3,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': -2,
   'wind10m': {'direction': 'NE', 'speed': 3},
   'temp2m': 35,
   'prec_type': 'none'},
  {'timepoint': 54,
   'cloudcover': 6,
   'seeing': 3,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': -1,
   'wind10m': {'direction': 'NE', 'speed': 3},
   'temp2m': 31,
   'prec_type': 'none'},
  {'timepoint': 57,
   'cloudcover': 6,
   'seeing': 4,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': -1,
   'wind10m': {'direction': 'NW', 'speed': 2},
   'temp2m': 28,
   'prec_type': 'none'},
  {'timepoint': 60,
   'cloudcover': 4,
   'seeing': 3,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': -1,
   'wind10m': {'direction': 'NE', 'speed': 3},
   'temp2m': 30,
   'prec_type': 'none'},
  {'timepoint': 63,
   'cloudcover': 6,
   'seeing': 1,
   'transparency': 2,
   'lifted_index': 2,
   'rh2m': -2,
   'wind10m': {'direction': 'E', 'speed': 3},
   'temp2m': 37,
   'prec_type': 'none'},
  {'timepoint': 66,
   'cloudcover': 4,
   'seeing': 1,
   'transparency': 2,
   'lifted_index': -1,
   'rh2m': -3,
   'wind10m': {'direction': 'SE', 'speed': 3},
   'temp2m': 41,
   'prec_type': 'none'},
  {'timepoint': 69,
   'cloudcover': 1,
   'seeing': 1,
   'transparency': 2,
   'lifted_index': -1,
   'rh2m': -3,
   'wind10m': {'direction': 'SE', 'speed': 2},
   'temp2m': 42,
   'prec_type': 'none'},
  {'timepoint': 72,
   'cloudcover': 5,
   'seeing': 1,
   'transparency': 2,
   'lifted_index': -1,
   'rh2m': -3,
   'wind10m': {'direction': 'E', 'speed': 2},
   'temp2m': 41,
   'prec_type': 'none'}]}

In [48]:
import json

In [54]:
result_to_json=res.json()

In [58]:
dataseries=pd.DataFrame(result_to_json['dataseries'],columns=['timepoint','cloudcover','seeing','transparency'])

In [59]:
dataseries

    timepoint  cloudcover  seeing  transparency
0           3           5       4             1
1           6           6       3             2
2           9           1       3             2
3          12           2       3             2
4          15           1       1             2
..        ...         ...     ...           ...
19         60           4       3             2
20         63           6       1             2
21         66           4       1             2
22         69           1       1             2
23         72           5       1             2

[24 rows x 4 columns]

In [63]:
for data in result_to_json['dataseries']:
    print(data)

{'timepoint': 3, 'cloudcover': 5, 'seeing': 4, 'transparency': 1, 'lifted_index': 2, 'rh2m': -3, 'wind10m': {'direction': 'E', 'speed': 3}, 'temp2m': 37, 'prec_type': 'none'}
{'timepoint': 6, 'cloudcover': 6, 'seeing': 3, 'transparency': 2, 'lifted_index': 2, 'rh2m': -1, 'wind10m': {'direction': 'SE', 'speed': 3}, 'temp2m': 32, 'prec_type': 'none'}
{'timepoint': 9, 'cloudcover': 1, 'seeing': 3, 'transparency': 2, 'lifted_index': 2, 'rh2m': 0, 'wind10m': {'direction': 'SE', 'speed': 3}, 'temp2m': 29, 'prec_type': 'none'}
{'timepoint': 12, 'cloudcover': 2, 'seeing': 3, 'transparency': 2, 'lifted_index': 2, 'rh2m': 0, 'wind10m': {'direction': 'E', 'speed': 2}, 'temp2m': 28, 'prec_type': 'none'}
{'timepoint': 15, 'cloudcover': 1, 'seeing': 1, 'transparency': 2, 'lifted_index': 2, 'rh2m': -2, 'wind10m': {'direction': 'S', 'speed': 3}, 'temp2m': 36, 'prec_type': 'none'}
{'timepoint': 18, 'cloudcover': 1, 'seeing': 1, 'transparency': 2, 'lifted_index': -1, 'rh2m': -3, 'wind10m': {'direction': 'SW', 'speed': 3}, 'temp2m': 41, 'prec_type': 'none'}
{'timepoint': 21, 'cloudcover': 1, 'seeing': 1, 'transparency': 1, 'lifted_index': 2, 'rh2m': -3, 'wind10m': {'direction': 'W', 'speed': 3}, 'temp2m': 43, 'prec_type': 'none'}
{'timepoint': 24, 'cloudcover': 1, 'seeing': 2, 'transparency': 1, 'lifted_index': 2, 'rh2m': -3, 'wind10m': {'direction': 'W', 'speed': 3}, 'temp2m': 41, 'prec_type': 'none'}
{'timepoint': 27, 'cloudcover': 2, 'seeing': 4, 'transparency': 1, 'lifted_index': 2, 'rh2m': -3, 'wind10m': {'direction': 'W', 'speed': 3}, 'temp2m': 35, 'prec_type': 'none'}
{'timepoint': 30, 'cloudcover': 4, 'seeing': 3, 'transparency': 1, 'lifted_index': 2, 'rh2m': -2, 'wind10m': {'direction': 'NW', 'speed': 4}, 'temp2m': 34, 'prec_type': 'none'}
{'timepoint': 33, 'cloudcover': 5, 'seeing': 3, 'transparency': 2, 'lifted_index': 2, 'rh2m': -1, 'wind10m': {'direction': 'N', 'speed': 3}, 'temp2m': 30, 'prec_type': 'none'}
{'timepoint': 36, 'cloudcover': 3, 'seeing': 3, 'transparency': 2, 'lifted_index': 2, 'rh2m': -1, 'wind10m': {'direction': 'NE', 'speed': 3}, 'temp2m': 29, 'prec_type': 'none'}
{'timepoint': 39, 'cloudcover': 2, 'seeing': 1, 'transparency': 2, 'lifted_index': 2, 'rh2m': -2, 'wind10m': {'direction': 'NE', 'speed': 3}, 'temp2m': 36, 'prec_type': 'none'}
{'timepoint': 42, 'cloudcover': 1, 'seeing': 1, 'transparency': 2, 'lifted_index': 2, 'rh2m': -3, 'wind10m': {'direction': 'NE', 'speed': 3}, 'temp2m': 42, 'prec_type': 'none'}
{'timepoint': 45, 'cloudcover': 1, 'seeing': 1, 'transparency': 2, 'lifted_index': -1, 'rh2m': -3, 'wind10m': {'direction': 'NE', 'speed': 3}, 'temp2m': 43, 'prec_type': 'none'}
{'timepoint': 48, 'cloudcover': 3, 'seeing': 2, 'transparency': 2, 'lifted_index': -1, 'rh2m': -3, 'wind10m': {'direction': 'E', 'speed': 3}, 'temp2m': 40, 'prec_type': 'none'}
{'timepoint': 51, 'cloudcover': 4, 'seeing': 3, 'transparency': 2, 'lifted_index': 2, 'rh2m': -2, 'wind10m': {'direction': 'NE', 'speed': 3}, 'temp2m': 35, 'prec_type': 'none'}
{'timepoint': 54, 'cloudcover': 6, 'seeing': 3, 'transparency': 2, 'lifted_index': 2, 'rh2m': -1, 'wind10m': {'direction': 'NE', 'speed': 3}, 'temp2m': 31, 'prec_type': 'none'}
{'timepoint': 57, 'cloudcover': 6, 'seeing': 4, 'transparency': 2, 'lifted_index': 2, 'rh2m': -1, 'wind10m': {'direction': 'NW', 'speed': 2}, 'temp2m': 28, 'prec_type': 'none'}
{'timepoint': 60, 'cloudcover': 4, 'seeing': 3, 'transparency': 2, 'lifted_index': 2, 'rh2m': -1, 'wind10m': {'direction': 'NE', 'speed': 3}, 'temp2m': 30, 'prec_type': 'none'}
{'timepoint': 63, 'cloudcover': 6, 'seeing': 1, 'transparency': 2, 'lifted_index': 2, 'rh2m': -2, 'wind10m': {'direction': 'E', 'speed': 3}, 'temp2m': 37, 'prec_type': 'none'}
{'timepoint': 66, 'cloudcover': 4, 'seeing': 1, 'transparency': 2, 'lifted_index': -1, 'rh2m': -3, 'wind10m': {'direction': 'SE', 'speed': 3}, 'temp2m': 41, 'prec_type': 'none'}
{'timepoint': 69, 'cloudcover': 1, 'seeing': 1, 'transparency': 2, 'lifted_index': -1, 'rh2m': -3, 'wind10m': {'direction': 'SE', 'speed': 2}, 'temp2m': 42, 'prec_type': 'none'}
{'timepoint': 72, 'cloudcover': 5, 'seeing': 1, 'transparency': 2, 'lifted_index': -1, 'rh2m': -3, 'wind10m': {'direction': 'E', 'speed': 2}, 'temp2m': 41, 'prec_type': 'none'}

In [64]:
import sqlite3

In [65]:
query="""
    CREATE TABLE test
    (a VARCHAR(20),b VARCHAR(20),
    c REAl,d INTEGER);    
"""

In [66]:
query

'\n    CREATE TABLE test\n    (a VARCHAR(20),b VARCHAR(20),\n    c REAl,d INTEGER);    \n'

In [68]:
con=sqlite3.connect('mydata.sqlite')

In [69]:
con.execute(query)

In [70]:
con.commit()

In [74]:
stmt="INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt,data)

[]

In [75]:
data={('Atlanta','Georgia',1.25,6),('Talla','Florida',2.6,3),('Sacra','California',1.7,5)}

### 执行查询

In [77]:
cursor=con.execute('select * from test')
rows=cursor.fetchall()
rows

In [79]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [81]:
pd.DataFrame(rows,columns=[x[0] for x in cursor.description])

         a           b     c  d
0  Atlanta     Georgia  1.25  6
1    Sacra  California  1.70  5
2    Talla     Florida  2.60  3