In [1]:
from datetime import datetime

In [2]:
now=datetime.now()

In [3]:
now

datetime.datetime(2019, 7, 19, 10, 29, 19, 32779)

In [4]:
now.year,now.month,now.day

(2019, 7, 19)

In [5]:
delta=datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [10]:
delta.seconds

56700

In [11]:
from datetime import timedelta

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [12]:
start=datetime(2011,1,7)

In [13]:
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [14]:
start-2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### 字符串和datetime的相互转换

In [15]:
stamp=datetime(2011,1,3)

In [16]:
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
str(stamp)

'2011-01-03 00:00:00'

In [18]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [19]:
value='2011-01-03'

In [23]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
datestrs=['7/6/2011','8/6/2011']

In [25]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [26]:
from dateutil.parser import parse

In [27]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [28]:
parse('Jan 31,1997 10:45 PM')

datetime.datetime(2019, 1, 31, 22, 45)

In [30]:
parse('6/11/2011',dayfirst=True)

datetime.datetime(2011, 11, 6, 0, 0)

In [31]:
datestrs=['2011-07-06 12:00:00','2011-08-06 14:00:12']

In [32]:
import pandas as pd

In [33]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 14:00:12'], dtype='datetime64[ns]', freq=None)

In [35]:
idx=pd.to_datetime(datestrs+[None])

In [36]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 14:00:12', 'NaT'], dtype='datetime64[ns]', freq=None)

### 时间序列基础

In [37]:
from datetime import datetime

In [38]:
dates=[datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

In [39]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [41]:
import numpy as np

In [42]:
ts=pd.Series(np.random.randn(6),index=dates)

In [43]:
ts

2011-01-02   -0.707914
2011-01-05   -1.745405
2011-01-07   -0.363769
2011-01-08    1.564592
2011-01-10   -0.172646
2011-01-12    0.079676
dtype: float64

In [44]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [45]:
ts+ts[::2]

2011-01-02   -1.415829
2011-01-05         NaN
2011-01-07   -0.727538
2011-01-08         NaN
2011-01-10   -0.345292
2011-01-12         NaN
dtype: float64

In [46]:
ts.index.dtype

dtype('<M8[ns]')

In [47]:
stamp=ts.index[0]

In [48]:
stamp

Timestamp('2011-01-02 00:00:00')

#### 索引、选取、子集构造

In [49]:
stamp=ts.index[2]

In [50]:
stamp

Timestamp('2011-01-07 00:00:00')

In [51]:
ts[stamp]

-0.36376916639724677

In [52]:
ts['1/10/2011']

-0.17264576644140697

In [53]:
ts['20110110']

-0.17264576644140697

In [55]:
longer_ts=pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

In [56]:
longer_ts

2000-01-01    1.107118
2000-01-02    0.721245
2000-01-03    0.580835
2000-01-04   -1.019486
2000-01-05   -2.457127
2000-01-06    0.155958
2000-01-07   -0.797774
2000-01-08   -1.539769
2000-01-09    0.797614
2000-01-10    0.059900
2000-01-11   -0.028279
2000-01-12   -0.432869
2000-01-13   -0.206925
2000-01-14    1.533180
2000-01-15   -0.348230
2000-01-16   -0.644609
2000-01-17   -1.337992
2000-01-18   -0.097449
2000-01-19   -0.594360
2000-01-20   -1.728158
2000-01-21    1.361633
2000-01-22    0.156106
2000-01-23    0.511589
2000-01-24   -0.481899
2000-01-25   -0.842233
2000-01-26   -0.944714
2000-01-27   -0.639105
2000-01-28    0.799910
2000-01-29    0.583843
2000-01-30    1.871639
                ...
2002-08-28    0.714857
2002-08-29    1.115529
2002-08-30   -0.637295
2002-08-31   -0.139545
2002-09-01   -0.109630
2002-09-02   -0.167983
2002-09-03    0.621505
2002-09-04   -1.117156
2002-09-05   -1.379095
2002-09-06   -0.141031
2002-09-07   -0.785512
2002-09-08    0.069542
2002-09-09   -0.279997
2002-09-10    0.679044
2002-09-11    0.409006
2002-09-12   -0.516322
2002-09-13   -0.585865
2002-09-14    1.014319
2002-09-15   -0.688460
2002-09-16   -0.190564
2002-09-17    0.866468
2002-09-18    0.827321
2002-09-19    0.152031
2002-09-20   -0.214196
2002-09-21    1.115367
2002-09-22   -0.431023
2002-09-23    0.311025
2002-09-24    1.408896
2002-09-25   -0.255684
2002-09-26   -0.862227
Freq: D, Length: 1000, dtype: float64

In [57]:
longer_ts['2001']

2001-01-01   -1.029551
2001-01-02   -0.224789
2001-01-03    1.908026
2001-01-04    0.195015
2001-01-05   -0.611883
2001-01-06   -1.235015
2001-01-07   -0.798009
2001-01-08    1.177807
2001-01-09   -1.051397
2001-01-10   -2.159344
2001-01-11    1.274017
2001-01-12   -0.326434
2001-01-13    0.771263
2001-01-14   -1.329958
2001-01-15    0.058137
2001-01-16   -0.508649
2001-01-17   -1.279727
2001-01-18    0.375526
2001-01-19   -1.026023
2001-01-20    0.085600
2001-01-21    1.583055
2001-01-22    0.856182
2001-01-23   -1.169110
2001-01-24   -0.218368
2001-01-25    1.647112
2001-01-26   -1.519357
2001-01-27   -1.060918
2001-01-28    0.251212
2001-01-29   -0.428888
2001-01-30    0.419979
                ...
2001-12-02    2.096028
2001-12-03    0.315317
2001-12-04   -0.807431
2001-12-05   -0.694198
2001-12-06   -0.474778
2001-12-07    0.689222
2001-12-08    0.267712
2001-12-09   -1.798894
2001-12-10   -1.774409
2001-12-11   -1.775113
2001-12-12   -0.000138
2001-12-13    1.025231
2001-12-14    0.243476
2001-12-15   -2.139437
2001-12-16   -0.330814
2001-12-17   -0.817423
2001-12-18    0.682538
2001-12-19    0.733995
2001-12-20   -1.669826
2001-12-21    0.277733
2001-12-22    0.744301
2001-12-23   -0.338644
2001-12-24   -1.007159
2001-12-25    0.029265
2001-12-26   -0.321737
2001-12-27   -0.391796
2001-12-28   -0.905077
2001-12-29   -0.032570
2001-12-30    0.144077
2001-12-31    1.541171
Freq: D, Length: 365, dtype: float64

In [59]:
ts[datetime(2011,1,7):]

2011-01-07   -0.363769
2011-01-08    1.564592
2011-01-10   -0.172646
2011-01-12    0.079676
dtype: float64

In [60]:
ts

2011-01-02   -0.707914
2011-01-05   -1.745405
2011-01-07   -0.363769
2011-01-08    1.564592
2011-01-10   -0.172646
2011-01-12    0.079676
dtype: float64

In [61]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.707914
2011-01-05   -1.745405
2011-01-07   -0.363769
2011-01-08    1.564592
dtype: float64

In [62]:
dates=pd.date_range('1/1/2000',periods=100,freq='W-WED')

In [63]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [65]:
long_df=pd.DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado','Texas','New York','Ohio'])

In [66]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -1.282822 -0.089998  0.764978  0.969041
2000-01-12  1.066402  1.302354 -0.472431  0.687169
2000-01-19  0.760778  0.857081 -1.480864  0.517263
2000-01-26 -1.022016 -1.536031  1.030829  0.643037
2000-02-02 -0.040454  0.404075 -0.035761 -0.143893
2000-02-09 -1.044497  0.357385 -0.577841  1.399384
2000-02-16 -0.949968 -0.828971  0.918753  0.316049
2000-02-23 -0.414631 -0.485732  1.458172 -0.876084
2000-03-01  0.726515 -0.078367  0.150795  0.074617
2000-03-08  0.564935 -1.881116  0.871981 -1.344326
2000-03-15  0.536333  0.719705  1.927924 -0.935356
2000-03-22 -0.450820 -0.666765 -0.280308 -0.523821
2000-03-29  0.753576 -1.423410  0.389493  1.006809
2000-04-05  1.466985  1.318089 -0.071049 -1.746800
2000-04-12  1.130662  1.015356  1.326719 -1.518436
2000-04-19 -1.405888 -0.413349  1.809908 -1.411125
2000-04-26 -0.755678 -1.116950  0.657095  0.000282
2000-05-03 -0.572195 -0.131435 -1.081870 -0.082915
2000-05-10 -0.344998 -1.880509  0.428448 -0.183089
2000-05-17  1.372605  0.726230  0.153962 -0.108300
2000-05-24 -0.514166 -0.006478 -1.329929  1.547261
2000-05-31 -0.872427 -0.763179 -0.985603 -0.175548
2000-06-07  0.323915 -0.059011 -0.467158  0.863111
2000-06-14  0.447615  0.709724  0.381534 -0.693081
2000-06-21  0.348282  0.992310  0.894224  0.680498
2000-06-28 -0.999401  0.470830  0.895442 -0.076232
2000-07-05 -1.100915  0.481937 -0.569154  0.885804
2000-07-12 -0.698191 -0.525799 -0.847661 -0.928512
2000-07-19  1.726684  1.141388  0.827335 -0.976767
2000-07-26  0.991124 -2.229118 -0.144596 -1.234246
...              ...       ...       ...       ...
2001-05-09 -2.384431  0.633712  0.233935  1.310095
2001-05-16 -0.104614 -0.262459  1.212886 -0.148903
2001-05-23 -0.955780 -1.080380 -0.668446 -1.894117
2001-05-30 -0.232281  2.137386  0.473664 -0.587323
2001-06-06  0.115842  0.558967  0.101878 -0.185671
2001-06-13 -0.523374 -2.422665  0.278129  0.722487
2001-06-20 -1.649061  0.582767  0.491622 -0.157763
2001-06-27  1.495696 -0.950518 -0.071113  1.410656
2001-07-04  1.676703 -1.371016 -0.295867  1.274092
2001-07-11  0.252776  0.706276 -0.165551 -0.822976
2001-07-18 -1.020038 -0.461816 -0.464256  1.084073
2001-07-25 -2.000551  0.898680 -1.102823 -0.456609
2001-08-01  1.065631  0.220130 -0.264134  0.132870
2001-08-08 -0.856313 -0.701146 -0.249722 -2.376030
2001-08-15  0.244766  0.987989 -2.200245  0.231414
2001-08-22  1.092835  0.004686 -0.760460  0.102300
2001-08-29  0.367786  1.568086 -0.830482  1.562898
2001-09-05 -0.651134 -0.834631  1.513709 -0.634864
2001-09-12  0.277573  1.375201 -0.780831 -1.320584
2001-09-19 -0.367584  0.008114 -0.731151 -0.023260
2001-09-26  0.529433 -2.113467 -0.534591 -0.504362
2001-10-03 -0.805830  0.386621  0.836495  0.818050
2001-10-10  0.947672  1.259515  0.175243  1.839953
2001-10-17 -0.915250 -0.881589  0.760740  2.360061
2001-10-24  0.068763  1.751627 -0.025436  0.457049
2001-10-31 -1.470922 -0.502379 -0.815432  0.630981
2001-11-07 -0.145174  0.718454  1.610158  1.113634
2001-11-14 -0.327364 -0.607712  0.786715  0.213503
2001-11-21 -0.343875  2.029568 -0.721469 -2.125130
2001-11-28  0.541257 -0.456611 -1.826087 -0.795609

[100 rows x 4 columns]

In [68]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.319108 -0.993807  1.023467  0.417774
2001-05-09 -2.384431  0.633712  0.233935  1.310095
2001-05-16 -0.104614 -0.262459  1.212886 -0.148903
2001-05-23 -0.955780 -1.080380 -0.668446 -1.894117
2001-05-30 -0.232281  2.137386  0.473664 -0.587323